.header-container {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 1rem;
  height: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo-container {
  position: relative;
  z-index: 999;
  left: 1rem;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  opacity: .75;
}

.logo-container > figcaption {
  align-self: center;
  font-size: 80%;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  color: var(--main-color);
}

.nav-item {
  padding : .6rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
  transition: color .3s ease;
}

.nav-item:hover { color: var(--main-model-color); }

.panel {
  position: absolute;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .9);
  transition: transform .5s ease;
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
}



@media screen and (min-width: 1024px) {
  /* Header */
  .header-container {
    top: -1.2rem;
    height: auto;
  }


  .logo-container {
    position: relative;
    left: 1rem;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    margin: .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: .2rem;
    opacity: .75;
  }

  .logo-container > figcaption {
    align-self: center;
    font-size: 120%;
  }

  .nav-container {
    position: relative;
    right: 1rem;
    display: flex;
    flex-flow: row nowrap;
  }

  .nav-item { padding: 0 1.5rem; }
}